<md-dialog class="task-dialog " aria-label="Filter">
    <form name="filterForm" class="md-inline-form" novalidate ng-submit="vm.submit()">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools filter-header " layout="row" layout-align="space-between">
                <span class="title">Filter</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>

            <div class="loader-wrapper" layout-xs="column" layout="row" ng-show="vm.loadingProgress" layout-align="center center" flex>
                <md-progress-circular  md-mode="indeterminate" class="md-warn" md-diameter="80"></md-progress-circular>
            </div>

            <div layout-align="start start" layout="row" layout-md="row" layout-sm="column" layout-xs="column" ng-hide="vm.loadingProgress" ng-cloak flex>

                <div layout="column" layout-md="column" layout-sm="column" layout-xs="column" flex="40">
                    <md-checkbox class="map-checkbox checkbox-orange margin-5" ng-init="bot=vm.bot" ng-model="bot" ng-change="vm.showVessels(bot,'BOT')" aria-label="Bahri Oil Transport" ng-show="vm.showBOTCheckbox">
                        <span class="map-label-text text-orange">
                            Bahri Oil Transport
                        </span>
                    </md-checkbox>

                    <md-checkbox class="map-checkbox checkbox-yellow margin-5" ng-init="bcc=vm.bcc" ng-model="bcc" ng-change="vm.showVessels(bcc,'BCC')" aria-label="Bahri Chemical Carriers" ng-show="vm.showBCCCheckbox">
                        <span class="map-label-text text-yellow">
                            Bahri Chemical Carriers
                        </span>
                    </md-checkbox>

                    <md-checkbox class="map-checkbox checkbox-teal margin-5" ng-init="bdb=vm.bdb" ng-model="bdb" ng-change="vm.showVessels(bdb,'BDB')" aria-label="Bahri Dry Bulk" ng-show="vm.showBDBCheckbox">
                        <span class="map-label-text text-teal">
                            Bahri Dry Bulk
                        </span>
                    </md-checkbox>

                    <md-checkbox class="map-checkbox checkbox-aqua margin-5" ng-init="bgc=vm.bgc" ng-model="bgc" ng-change="vm.showVessels(bgc,'BGC')" aria-label="Bahri General Cargo" ng-show="vm.showBGCCheckbox">
                        <span class="map-label-text text-aqua">
                            Bahri General Cargo
                        </span>
                    </md-checkbox>
                    <md-checkbox class="map-checkbox checkbox-purple margin-5" ng-init="bdb_ais=vm.bdb_ais" ng-model="bdb_ais" ng-change="vm.showVessels(bdb_ais,'BDBAIS')" aria-label="Bahri General Cargo1" ng-show="vm.showBDBAISCheckbox">
                        <span class="map-label-text text-purple">
                            BDB Operator Model
                        </span>
                    </md-checkbox>
                    <md-checkbox class="map-checkbox checkbox-dark-orange margin-5" ng-init="bcc_uacc=vm.bcc_uacc" ng-model="bcc_uacc" ng-change="vm.showVessels(bcc_uacc,'BCCUACC')" aria-label="UACC Fleet" ng-show="vm.showBCCUACCFleetCheckbox">
                        <span class="map-label-text text-dark-orange">
                            UACC Fleet
                        </span>
                    </md-checkbox>
                </div>  

                <div layout-xs="column" layout="column" layout-sm="column" layout-xs="column" flex="60">
                    <div layout="column" layout-wrap>
                        <div ng-repeat="item in vm.items">
                          <md-checkbox class="margin-5" ng-checked="vm.exists(item, vm.selected)" ng-click="vm.toggle(item, vm.selected)">
                            {{ item.fleet_name }}
                          </md-checkbox>
                        </div>

                        <md-autocomplete flex class="md-block"
                            md-input-name="port_name"
                            md-input-minlength="2"
                            md-no-cache="vm.noCache"
                            md-selected-item="vm.port_name"
                            md-search-text="vm.searchText"
                            md-items="item in vm.querySearch(vm.searchText)"
                            md-item-text="item.display"
                            md-require-match
                            md-floating-label="Port">
                        <md-item-template>
                            <span md-highlight-text="vm.searchText">{{item.display}}</span>
                        </md-item-template>
                        <div ng-messages="filterForm.port_name.$error" ng-if="filterForm.port_name.$touched">
                            <div ng-message="md-require-match">Please select an existing port name.</div>
                            <div ng-message="minlength">Your entry is not long enough.</div>
                          </div>
                        </md-autocomplete>
                        <div flex class="date-container">
                            <label>ETA</label>
                            <md-datepicker ng-model="vm.date" md-placeholder="ETA" md-current-view="year"></md-datepicker>
                        </div>
                    </div>
                </div>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit"
                           class="send-button md-button-orange md-raised"
                           ng-disabled="taskForm.$invalid || taskForm.$pristine || vm.loadingProgress || (vm.filterForm.categories.length == 0 && vm.filterForm.bahri_vessels.length == 0)"
                           aria-label="Apply">
                    Apply
                </md-button>
                <md-button type="button" ng-click="vm.closeDialog()" class="md-raised" aria-label="Cancel">
                    Cancel
                </md-button>
            </div>
        </md-dialog-actions>

    </form>
</md-dialog>