<md-dialog class="task-dialog" aria-label="Filter">
    
    
    
    <form name="filterForm" class="md-inline-form" novalidate ng-submit="vm.submit()">
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools filter-header header-box-shadow" layout="row" layout-align="space-between">
                <span class="title">Filter</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon md-font-icon="icon-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content md-dynamic-height ms-scroll>

            <div class="loader-wrapper" layout-xs="column" layout="row" ng-show="vm.loadingProgress" layout-align="center center" flex>
                <md-progress-circular  md-mode="indeterminate" class="md-warn" md-diameter="80"></md-progress-circular>
            </div>

            <div ng-clock ng-show="(!vm.loadingProgress)" >
                <div layout="column" layout-gt-sm="row">
                    <div flex="40">
                        <md-select name="duration" class="simplified font-size-16 change-duration" ng-model="vm.currentSource" aria-label="Data Sources">
                            <md-option class="duration-options" ng-repeat="(key, range) in vm.dataSources" value="{{key}}" ng-selected="{{vm.selectedSource === key  ? 'true':'' }}">
                                {{range}}
                            </md-option>
                        </md-select>
                    </div>
                    
                    <div flex="60">
                        <div layout="row">
                            <div><md-datepicker ng-model="vm.startdate" md-placeholder="Start date" md-open-on-focus></md-datepicker></div>
                            <div><md-datepicker ng-model="vm.enddate" md-placeholder="End date" md-open-on-focus></md-datepicker></div>
                        </div>
                    </div>
                    
                </div>
                
                <div layout="row" layout-wrap flex ng-controller="VesselController" ng-hide="vm.loadingProgress" >
                    <h3 class="dialog-label">Select Vessels</h3>
                </div>
                <div layout="row" layout-wrap flex ng-controller="VesselController" ng-hide="vm.loadingProgress" >
                    <div layout="row" class="fleet-list-select-container" flex>
                        <div  class="fleet-list-select" >
                            <div ng-repeat="(item_key,item) in vm.fleet track by $index">
                                <md-checkbox aria-label="Select All" ng-checked="vm.isChecked(item_key)" md-indeterminate="vm.isIndeterminate(item_key)"
                                    ng-click="vm.toggleAll(item_key)">
                                    {{item.title}}
                                </md-checkbox>
                                <div class="demo-select-all-checkboxes ph-20" flex="100" ng-repeat="(vessel_size_key,vessel_size) in item.values track by $index">
                                    <md-checkbox aria-label="{{(item.title != '') ? item.title : 'Vessel Size'}}" 
                                    ng-hide="(vessel_size == '')" 
                                    ng-checked="vm.exists(vessel_size, vm.selected,item_key)"
                                    ng-click="vm.toggle(vessel_size, vm.selected,item_key)" 
                                    ng-disabled="vm.disabledCategories[item_key]"
                                    class="">
                                        {{vessel_size}}
                                    </md-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div layout="row" layout-gt-sm="row" layout-wrap flex ng-hide="vm.loadingProgress" >
                    <div flex="100" class="margin-top-15">
                        <md-select name="duration" placeholder="Fuel Type" class="simplified font-size-16 change-duration" ng-model="vm.selectedFuelType"
                            aria-label="Fuel Type">
                            <md-option class="duration-options" ng-repeat="(key, range) in vm.fuelType" value="{{key}}" ng-selected="{{vm.selectedFuelType === key  ? 'true':'' }}">
                                {{range}}
                            </md-option>
                        </md-select>

                    </div>
                    <div flex="100" class="margin-top-15">
                        <md-chips ng-model="vm.selectedSailingConditions" md-autocomplete-snap md-require-match="true" flex>
                            <md-autocomplete md-selected-item="vm.selectedSailingCondition" md-search-text="vm.searchVesselText" md-min-length="0" md-input-minlength="1"
                                md-input-maxlength="18" md-no-cache="vm.noCache" md-items="sailingCondition in vm.sailingConditionSearch(vm.searchVesselText)"
                                md-item-text="sailingCondition.display" placeholder="Sailing Condition" md-autoselect>

                                <span md-highlight-text="vm.searchVesselText">
                                    {{sailingCondition.display}}
                                </span>
                            </md-autocomplete>

                            <md-chip-template>
                                <span>
                                <strong>{{$chip.display}}</strong>
                            </span>
                            </md-chip-template>

                        </md-chips>
                    </div>
                    <div flex="100" class="margin-top-15">
                        <md-chips ng-model="vm.selectedReports" md-autocomplete-snap md-require-match flex>
                            <md-autocomplete md-selected-item="vm.selectedReport" md-search-text="vm.searchReportText" md-min-length="0" md-input-minlength="1"
                                md-input-maxlength="18" md-no-cache="vm.noCache" md-items="report in vm.reportSearch(vm.searchReportText)"
                                md-item-text="report.display" placeholder="Report Type">

                                <md-item-template>
                                    <span md-highlight-text="vm.searchReportText">
                                    {{report.display}}
                                </span>
                                </md-item-template>
                            </md-autocomplete>

                            <md-chip-template>
                                <span>
                                <strong>{{$chip.display}}</strong>
                            </span>
                            </md-chip-template>

                        </md-chips>
                    </div>
                    
                </div>

                <!--default check boc-->
                
                <div layout="row" layout-gt-sm="row" class="voyage-filter-slider">
                    <div flex="33" class="ph-10">
                        <md-slider-container flex>
                            <span>GPS Speed</span>
                            <div layout="column" class="dark-blue-slider">
                                <input class="theme-slider" type="text" id="gps-speed" name="GPS Speed" value="" />
                               
                            </div>
                        </md-slider-container>
                    </div>

                    <div flex="33" class="ph-10">
                         <md-slider-container flex>
                            <span>Log Speed</span>
                            <div layout="column" class="dark-blue-slider">
                                <input class="theme-slider" type="text" id="log-speed" name="Log Speed" value="" />
                            </div>
                        </md-slider-container>
                    </div>
                    <div flex="33" class="ph-10">
                        <md-slider-container flex>
                            <span>Average Speed</span>
                            <div layout="column" class="dark-blue-slider">
                                <!--<md-slider flex md-discrete min="{{ vm.filter_params.steaming_hours.min }}" max="{{ vm.filter_params.steaming_hours.max }}" ng-model="vm.filterForm.steaming_hours" aria-label="blue" id="running-hours" class="md-warn"></md-slider>
                                </md-slider>-->
                                <input class="theme-slider" type="text" id="avg-speed" name="Average Speed" value="" />
                            </div>
                        </md-slider-container>
                    </div>
                    
                </div>
                <div layout="row" layout-gt-sm="row" class="voyage-filter-slider">
                    <div flex="33" class="ph-10">
                        <md-slider-container flex>
                            <span>Draft Mean</span>
                            <div layout="column" class="dark-cyan-slider">
                                <input class="theme-slider" type="text" id="draft-mean" name="Draft Mean" value="" />
                            </div>
                        </md-slider-container>
                    </div>
                    
                    <div flex="33" class="ph-10">
                        <md-slider-container flex>
                            <span>Running Hours</span>
                            <div layout="column" class="dark-cyan-slider">
                                
                                <input class="theme-slider" type="text" id="running-hours" name="Running Hours" value="" />
                            </div>
                        </md-slider-container>
                    </div>
                    
                    <div flex="33" class="ph-10">
                         <md-slider-container flex>
                            <span>Wind Speed</span>
                            <div layout="column" class="dark-cyan-slider">
                                <input class="theme-slider" type="text" id="wind-speed" name="Wind Speed" value="" />
                            </div>
                        </md-slider-container>
                    </div>
                    
                    
                </div>

                <div layout="row" layout-gt-sm="row" class="voyage-filter-slider">
                    <div flex="33" class="ph-10">
                        <md-slider-container flex>
                            <span>Slip</span>
                            <div layout="column" class="dark-blue-slider">
                                <input class="theme-slider" type="text" id="slip" name="Slip" value="" />
                            </div>
                        </md-slider-container>
                    </div>
                    <div flex="33" class="ph-10">
                        <md-slider-container flex>
                            <span>Sea State</span>
                            <div layout="column" class="dark-blue-slider">
                                <input class="theme-slider" type="text" id="sea-state" name="Sea State" value="" />
                            </div>
                        </md-slider-container>
                    </div>
                    <div flex="33" class="ph-10">
                         <md-slider-container flex>
                            
                        </md-slider-container>
                    </div>
                    
                    
                </div>
               
                


                
            </div>


        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit"
                           class="send-button md-button-orange md-raised"
                           ng-disabled="taskForm.$invalid || taskForm.$pristine || vm.loadingProgress"
                           aria-label="Apply">
                    Apply
                </md-button>
                <md-button type="button" ng-click="vm.closeDialog()" class="md-raised" aria-label="Cancel">
                    Cancel
                </md-button>
            </div>
        </md-dialog-actions>

    </form>
</md-dialog>