#maps {

    > .content {

        md-tabs {
            box-shadow: $whiteframe-shadow-1dp;
        }

        .card {
            max-width: 1200px;
            padding: 16px;
            margin: 24px;

            .angular-google-map-container {
                height: 400px;
            }
        }
    }
}

#commodity-tracker{
    .btn-filter{
        cursor: pointer;
    }
    md-icon.filter-icon{
        color: #ff6600;
    }

    > .content {
        md-content {
            margin: 16px 24px 48px 24px !important;
            padding: 0 !important;
        }
    }

    .vessel-trade-percentage{
        float: right;
        bottom: 10px;
        position: absolute;
        right: 10px;
    }
}



//Added by Sagar
// 11-SEP-2017
.commodity-dialog
{
    overflow: hidden;
    form{
        overflow: hidden !important;
    }
}
md-select 
{
    .md-select-value
    {
        border-bottom-color: #E0E0E0;
    }
    &:focus:not([disabled]) .md-select-value,&:hover .md-select-value,&:active .md-select-value
    {
        border-bottom-color: #ff6600;
    }
    
    
}
md-dialog.commodity-dialog
{
    .filter-header {
        box-shadow: 0 0 6px grey;
    }
}
.reset-btn
{
    float:right;
    margin-top:-5px;
} 
md-dialog.commodity-dialog .filter-autocomplete md-input-container.draft-method-select
{
    margin-top:50px !important;
}

